# previous logging system

[컴퓨터에서 시간을 표현하는 방법](http://blog.naver.com/PostView.nhn?blogId=dudwo567890&logNo=130164764324) 시간표현법  
[fnmatch](https://docs.python.org/ko/3/library/fnmatch.html)  유닉스 파일명 패턴 일치  
[datetime](https://devanix.tistory.com/306) 날짜시간 모듈  
[time](https://devanix.tistory.com/297) 시간 모듈

# 속도 *시간으로 누적마일 계산하기

In [1]:
import numpy as np
import pandas as pd

In [2]:
speed_list = np.array([3,5,5,4,4,2])
timestamp = np.array([1,2,4,6,7,8]) # /10e+8 # tosecs

In [3]:
temp = np.array([timestamp[0]]) 
temp = np.append(temp, timestamp[:-1])
distance_list = (speed_list * (timestamp - temp)).cumsum()
distance_list
df1 = pd.DataFrame(data={'distance': distance_list}, index = timestamp)
df1.index.name = 'timestamp'
df1

           distance
timestamp
1                 0
2                 5
4                15
6                23
7                27
8                29

# split dataframe based on automode

In [4]:
automode_list = np.array([False, True, False])
timestamp = np.array([1,4,7])
df2 = pd.DataFrame(data = {'automode': automode_list}, index = timestamp)
df2.index.name = 'timestamp'
df2

           automode
timestamp
1             False
4              True
7             False

In [5]:
df3 = pd.merge(df1,df2, left_index= True, right_index=True, how='outer')
df3

           distance automode
timestamp
1                 0    False
2                 5      NaN
4                15     True
6                23      NaN
7                27    False
8                29      NaN

In [6]:
df_sp = pd.DataFrame(data={'automode': df3.automode.values}, index = range(len(df3)))
sp = np.append(df_sp.dropna().index.values,len(df_sp)+1)
auto = []
for i in range(len(sp)-1):
    auto.append(df3[sp[i]:sp[i+1]])
auto

[           distance automode
 timestamp
 1                 0    False
 2                 5      NaN,            distance automode
 timestamp
 4                15     True
 6                23      NaN,            distance automode
 timestamp
 7                27    False
 8                29      NaN]

# datetime 사용법익히기

In [1]:
import datetime
import time

In [3]:
# date object 반환하는 동일한 방법
datetime.date(2019,7,26) # 날짜를 직접 넣음
datetime.date.fromtimestamp(time.time())
dtt = datetime.datetime.fromtimestamp(time.time())
datetime.date(dtt.year, dtt.month, dtt.day)
dt = datetime.date.today()

# 날짜관련 문자열 반환하는 여러가지 방법
dt.isoformat()
dt.ctime()
dt.strftime('%Y%m%d.txt')

# date object를 다른 값/형식으로 변환
dt.replace(2019,7,25) # 날짜 바꿀 때
dt.timetuple() #time.struct_time 시퀸스 객체에 값을 할당
dt.weekday()
dt.isoweekday() # dt.weekday() + 1

4

In [4]:
# time object 반환방법
t= datetime.time(dtt.hour, dtt.minute, dtt.second, dtt.microsecond)

# 변환
t.replace(12,14,37,54563,datetime.timezone.utc)

datetime.time(12, 14, 37, 54563, tzinfo=datetime.timezone.utc)

In [6]:
# datetime 반환방법
datetime.datetime.now()
datetime.datetime.today()
datetime.datetime.utcnow()
datetime.datetime.fromtimestamp(time.time())
datetime.datetime.utcfromtimestamp(time.time())
datetime.datetime.fromordinal(100)
datetime.datetime.combine(dt,t)
filename = '20190726_1314.txt'
format = '%Y%m%d_%H%M.txt'
dtt = datetime.datetime.strptime(filename,format)

# 문자열 반환
dtt.ctime() + '.txt'
dtt.isoformat() + '.txt'
dtt.strftime(format)

'2019-07-26T13:14:00.txt'

In [8]:
datetime.datetime.today().isoformat()

'2019-08-22T15:26:16.866296'

[timestamp를 datetime으로 혹은 datetime을 timestamp로 변환하기](https://ourcstory.tistory.com/109)

In [11]:
# timedelta 반환방법
dtt_delta = datetime.timedelta(days= 100,weeks=1,hours=1,minutes=1,seconds=1,milliseconds=1,microseconds=1)
dtt_plus = dtt + dtt_delta 
dtt_plus - dtt == dtt_delta # 비교연산가능

True

# 파일 쓰기

In [15]:
import os
import datetime
import time

#### 경로생성하고 일일 리포트 작성

In [16]:
format1 = '%Y%m%d_%H%M.txt'
format2 = '%Y/%m'
root_dir = '/home/usaywook/Documents/thordrive/practice'
report_dir = os.path.join(root_dir,'reports')

dtt = datetime.datetime.fromtimestamp(time.time())
file_name = dtt.strftime(format1)
ym = dtt.strftime(format2).split('/')

if not os.path.exists(report_dir):
    os.mkdir(report_dir)    
file_dir = os.path.join(report_dir, ym[0])
if not os.path.exists(file_dir):        
    os.mkdir(file_dir)
file_dir = os.path.join(file_dir, ym[1])
if not os.path.exists(file_dir):
    os.mkdir(file_dir)              
file_path = os.path.join(file_dir, file_name)

with open(file_path, 'w') as f:
    f.write('test')

#### 샘플 경로생성 및 리포트 만들기

In [17]:
#함수화
def mkfsample(dtt, context):
    format1 = '%Y_%m_%d_%H%M.txt'
    format2 = '%Y/%m'
    root_dir = '/home/usaywook/Documents/thordrive/practice'
    report_dir = os.path.join(root_dir,'reports')
    file_name = dtt.strftime(format1)
    ym = dtt.strftime(format2).split('/')

    if not os.path.exists(report_dir):
        os.mkdir(report_dir)    
    file_dir = os.path.join(report_dir, ym[0])
    if not os.path.exists(file_dir):        
        os.mkdir(file_dir)
    file_dir = os.path.join(file_dir, ym[1])
    if not os.path.exists(file_dir):
        os.mkdir(file_dir)              
    file_path = os.path.join(file_dir, file_name)
    
    with open(file_path, 'w') as f:
        f.write(context)

In [18]:
dtt = datetime.datetime.fromtimestamp(time.time())
dtt_delta = datetime.timedelta(days=15)
dtts = []
dtts.append(dtt)
for i in range(30):
    dtt += dtt_delta
    dtts.append(dtt)

for i,dtt in enumerate(dtts):
    context = 'text{}'.format(i)
    mkfsample(dtt,context)

# 파일 읽기
[os.walk](https://wikidocs.net/39) 하위 디렉터리 검색은 os.walk함수를 사용  
[fnmatch](https://wikidocs.net/39) 일치하는 파일 리스트 찾기

In [19]:
import fnmatch

#### 일일 보고서 가져오기

In [20]:
d = datetime.date(2019,8,25)
format3 = '%Y_%m_%d_*'
finding = d.strftime(format3)
finding

'2019_08_25_*'

In [136]:
#2자리 숫자 만들기
month = '%02d'% 3
month = '%02d'% int('3')
month

'03'

In [151]:
# 년 월 일를 찾기 위한 format 만들기
def setformat(year = '', month = '', day = ''):
    """
    This function is to make format for finding files
    params: 
        string year, month, day
        month is two charactor
    """         
    fm = str()
    if year is not '':
        fm = year + '_'
    if month is not '':
        month = '%02d'% int(month)
        fm += month + '_'
    if day is not '':
        day = '%02d'% int(day)
        fm += day + '_'        
    fm += '*'
    return fm

In [156]:
# d = datetime.date(2019,8,25)
# format3 = '%Y_%m_%d_*'
# finding = d.strftime(format3)

# finding = setformat()
# finding = setformat('2019')
finding = setformat('2019','8')
finding

'2019_08_*'

In [76]:
import numpy as np

In [158]:
def filelist_temp(report_dir, year='', month='', day=''):    
    file_list = []
    finding = setformat(year, month, day)
    for (path, dir, files) in os.walk(report_dir):
    #     print('path : {}, dir : {}, files : {}'.format(path,dir,files))
        for filename in files:
            ext = os.path.splitext(filename)[-1]
            name = os.path.splitext(filename)[0]
            if ext == '.txt':
                seq = name.split('_')
                if fnmatch.fnmatch(name, finding):
                    file_dir = os.path.join(path, filename)
                    file_list.append(file_dir)

    # file list는 timestamp순으로 index가 붙어 있기 때문에 날짜 순으로 정렬할 필요가 있다.
    file_list = sorted(file_list, key=str.lower)
    return file_list

filelist_temp(report_dir,'2019','08')

['/home/usaywook/Documents/thordrive/practice/reports/2019/08/2019_08_01_1538.txt',
 '/home/usaywook/Documents/thordrive/practice/reports/2019/08/2019_08_16_1538.txt',
 '/home/usaywook/Documents/thordrive/practice/reports/2019/08/2019_08_31_1538.txt']

In [143]:
quater = 4
(quater-1)*3+1

10

In [194]:
def filelist(report_dir, year='', month='', day='', quater=''):    
    
    
    if quater is '':
        filelist = filelist_temp(report_dir, year, month,day)
    else:
        quater = int(quater)
        if quater > 4 or quater < 1:
            print("Quater is Error")

        filelist = np.array([])    
        for i in range(3):
            temp = filelist_temp(report_dir, year, (quater-1)*3+i)
            filelist = np.append(filelist, temp, axis=0)        
        
    return filelist

file_list = filelist(report_dir,'2020',quater=3)
file_list

array(['/home/usaywook/Documents/thordrive/practice/reports/2020/06/2020_06_11_1538.txt',
       '/home/usaywook/Documents/thordrive/practice/reports/2020/06/2020_06_26_1538.txt',
       '/home/usaywook/Documents/thordrive/practice/reports/2020/07/2020_07_11_1538.txt',
       '/home/usaywook/Documents/thordrive/practice/reports/2020/07/2020_07_26_1538.txt',
       '/home/usaywook/Documents/thordrive/practice/reports/2020/08/2020_08_10_1538.txt',
       '/home/usaywook/Documents/thordrive/practice/reports/2020/08/2020_08_25_1538.txt'],
      dtype='<U79')

In [186]:
for file_path in file_list:    
    with open(file_path, 'r') as file:
        data = file.read()
        print(data)

text21
text22
text23
text24
text25
text26

#### 분기별보고서 가져오기

#### 중복되는 timestamp 행 제거

In [56]:
def setformat(year, month = '', day = ''):
        """
        This function is to make format for finding files
        params:
            string year, month, day
            month is two charactor
        """
        fm = 'data_' + year + '_'
        if month is not None:
            fm += month + '_'
        if day is not None:
            fm += day + '_'
        fm += '*'
        return fm

In [25]:
def 
file_dir = '/home/usaywook/Documents/thordrive/catkin_ws_for_thor/src/operator_logging/logs'
finding = setformat('2019')
file_list = []
file_dir = os.path.join(file_dir,'data')
for (path, dir, files) in os.walk(file_dir):
    for file_name in files:
        ext = os.path.splitext(file_name)[-1]
        name = os.path.splitext(file_name)[0]
        if ext == '.csv':
            if fnmatch.fnmatch(name, finding):
                file_dir = os.path.join(path, file_name)
                file_list.append(file_dir)
file_list = sorted(file_list, key=str.lower)
file_list

['/home/usaywook/Documents/thordrive/catkin_ws_for_thor/src/operator_logging/logs/data/data_2019_07_29_1101.csv']

In [26]:
import pandas as pd
df = pd.DataFrame()
for file_path in file_list:
    print("start loading csv file")
    if os.path.exists(file_path):
        tmp = pd.read_csv(file_path,index_col= 0)
        print("{} is loaded".format(file_path))
        df = df.append(tmp)
        df.index.name = 'timestamp'
        print("length of data is {}".format(len(tmp)))
    else:
        print("there is not {}".format(file_path))
print("total length of data is {}".format(len(df)))        
df = df.loc[[not x for x in df.index.duplicated(keep='first')]]
print("total length of data is {}".format(len(df)))        
df.head()

start loading csv file
/home/usaywook/Documents/thordrive/catkin_ws_for_thor/src/operator_logging/logs/data/data_2019_07_29_1101.csv is loaded
length of data is 301
total length of data is 301
total length of data is 301

             latitude   longitude  distance
timestamp
1561596172  37.447848 -122.158515  0.000000
1561596173  37.447841 -122.158503  0.004444
1561596174  37.447816 -122.158463  0.008333
1561596175  37.447794 -122.158428  0.011944
1561596176  37.447776 -122.158398  0.015000

# ini 파일을 읽어보자
configparser라는 모듈을 사용하면 된다.  
[configparer](https://kishstats.com/python/2018/03/07/python-config-parser.html?source=post_page---------------------------)  
[configparser참조1](https://medium.com/@onlytojay/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%BD%98%ED%94%BC%EA%B7%B8-%ED%8C%8C%EC%84%9C-configparser-7cfb65b1a5ac)  
[configparser참조2](https://ppiazi.tistory.com/entry/ini-%ED%8C%8C%EC%9D%BC-%EC%B2%98%EB%A6%AC)

In [27]:
from configparser import ConfigParser

#### write config file

In [68]:
config = ConfigParser()

config['settings'] = {
    'debug': 'on',
    'secret_key': '1360',
    'log_path': './logs',
    'version': '3',
    }
config['db'] = {
    'db_name': 'myapp_dev',
    'db_host': 'localhost',
    'db_port': '8889'
} 
config['files'] = {
    'use_file': 'false',
    'image_path': '${settings:log_path}/images/python${settings:version}'
}
with open('./dev.ini', 'w') as f:
    config.write(f)

In [78]:
config = ConfigParser()
config['settings'] = {
    'online': 'on',
    'module_path': '/home/usaywook/Documents/thordrive/catkin_ws_for_thor/src/operator_logging',
    'version': '1_0'
}
config['files'] = {
    'writecsv': 'off',
    'drawmap': 'off',
    'drawchart': 'off',
    'file_path': '${settings:module_path}/logs/version${settings:version}'    
}
config['range'] = {
    'year': '2019',
    'month': '',
    'day': ''
}
with open('/home/usaywook/Documents/thordrive/catkin_ws_for_thor/src/operator_logging/config/config.ini', 'w') as f:
    config.write(f)

#### read config file

In [76]:
parser = ConfigParser(allow_no_value=True)
parser.read('dev.ini')

parser.sections() # ['settings', 'db', 'files']
parser.get('settings','debug') # get value of debug options in setting sections
parser.options('settings') # ['debug', 'secret_key', 'logpath']
'db' in parser # check whether the 'db' section exists or not
type(parser.getint('db','db_port')) # how to get inter value instead of string type
type(parser.getboolean('settings','debug')) # how to get boolean value instead of string type                                                                                    
parser.getboolean('settings','debug')   # True value includes 1, yes, true, on 
parser.getboolean('files','use_file')   # False value includes 0, no, false, off
parser.get('settings','log_path')
parser.get('files','image_path') 
parser.get('settings','year') is ''

True

#### Using String Interpolation

In [39]:
 from configparser import ExtendedInterpolation

In [40]:
parser = ConfigParser(interpolation=ExtendedInterpolation())
parser.read('dev.ini')
parser.get('files','image_path') # change the path according to the version by Using String Interpolation

'./logs/images/python3'

#### dictionary 자료형을 통해 읽기편하게

In [36]:
params = {}
for section in parser.sections():
    params[section] = {}
    for option in parser.options(section):
        params[section][option] = parser.get(section, option)
params

{'settings': {'debug': 'on',
  'secret_key': '1360',
  'log_path': './logs',
  'version': '3'},
 'db': {'db_name': 'myapp_dev', 'db_host': 'localhost', 'db_port': '8889'},
 'files': {'use_file': 'false', 'image_path': './logs/images/python3'}}

In [87]:
from configparser import ConfigParser, ExtendedInterpolation

In [90]:
parser = ConfigParser(allow_no_value=True, interpolation=ExtendedInterpolation())
parser.read('/home/usaywook/Documents/thordrive/catkin_ws_for_thor/src/operator_logging/config/config.ini')

['/home/usaywook/Documents/thordrive/catkin_ws_for_thor/src/operator_logging/config/config.ini']